## **Exercise ML - NOTEBOOK #1: Exploratory Data Analysis (EDA)**

Created by **Sebastian Belalcazar Mosquera**.

### **Setting Environment**

In [1]:
import os 
print(os.getcwd())

try:
    os.chdir("../../ml_exercise")

except FileNotFoundError:
    print("""
        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-003.
        """)
    
print(os.getcwd())

d:\U\FIFTH SEMESTER\ETL\exercise_ml\notebooks
d:\U\FIFTH SEMESTER\ETL\ml_exercise

### **Importing modules and libraries**

In [2]:
import pandas as pd
import numpy as np

### **Read Data**

In [3]:
df_raw = pd.read_json("data\MLA_100k.jsonlines", lines=True)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\sebas\AppData\Local\Temp\ipykernel_16972\1298227498.py:1: SyntaxWarning: invalid escape sequence '\M'
  df_raw = pd.read_json("data\MLA_100k.jsonlines", lines=True)

In [4]:
df_raw.head()

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,...,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,...,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,...,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,[],new,None,[],580.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",143001605,...,active,None,NaN,NaN,1,2015-09-28 18:47:56+00:00,http://articulo.mercadolibre.com.ar/MLA-581877...,"{'latitude': -34.6281894, 'longitude': -58.492...",0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",96873449,...,active,None,NaN,NaN,1,2015-08-24 22:07:20+00:00,http://articulo.mercadolibre.com.ar/MLA-576112...,"{'latitude': -34.6346547, 'longitude': -58.549...",0,1

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       float64
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  datetime64[ns, UTC]
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       float64
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  datetime64[ns, UTC]
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(7), int64(4), object(33)
memory usage: 35.3+ MB

In [6]:
df_raw.describe().T

,count,mean,std,min,25%,50%,75%,max
base_price,100000.0,5.252423e+04,8.623127e+06,0.84,90.0,250.0,8.000000e+02,2.222222e+09
seller_id,100000.0,8.425269e+07,5.497257e+07,1304.00,39535905.5,76310627.0,1.325659e+08,1.946906e+08
price,100000.0,5.252433e+04,8.623127e+06,0.84,90.0,250.0,8.000000e+02,2.222222e+09
official_store_id,818.0,2.064438e+02,1.282530e+02,1.00,84.0,216.0,3.127500e+02,4.460000e+02
differential_pricing,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_price,143.0,1.593342e+03,2.245798e+03,120.00,449.0,858.0,1.500000e+03,1.399900e+04
catalog_product_id,11.0,3.727643e+06,1.884698e+06,94404.00,3050701.5,5093232.0,5.103216e+06,5.434513e+06
subtitle,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
initial_quantity,100000.0,3.509337e+01,4.210762e+02,1.00,1.0,1.0,2.000000e+00,9.999000e+03
sold_quantity,100000.0,2.396990e+00,4.268508e+01,0.00,0.0,0.0,0.000000e+00,8.676000e+03
available_quantity,100000.0,3.484238e+01,4.208084e+02,1.00,1.0,1.0,2.000000e+00,9.999000e+03

In [7]:
df_raw.shape

(100000, 48)

#### **`seller_address` & `location` Values**

In [8]:
df_raw.loc[59, 'location']

{'open_hours': '',
 'neighborhood': {'name': 'San NicolÃ¡s', 'id': 'TUxBQlNBTjgzMjRa'},
 'longitude': '',
 'country': {'name': 'Argentina', 'id': 'AR'},
 'address_line': 'Florida al 600, Entre Viamonte y Tucuman',
 'latitude': '',
 'zip_code': '',
 'city': {'name': 'Capital Federal', 'id': 'TUxBQ0NBUGZlZG1sYQ'},
 'state': {'name': 'Capital Federal', 'id': 'TUxBUENBUGw3M2E1'}}

In [9]:
df_raw.loc[0, 'seller_address']

{'comment': '',
 'longitude': -58.3986709,
 'id': 78162842,
 'country': {'name': 'Argentina', 'id': 'AR'},
 'address_line': '',
 'latitude': -34.6280698,
 'search_location': {'neighborhood': {'name': 'San CristÃ³bal',
   'id': 'TUxBQlNBTjkwNTZa'},
  'state': {'name': 'Capital Federal', 'id': 'TUxBUENBUGw3M2E1'},
  'city': {'name': 'Capital Federal', 'id': 'TUxBQ0NBUGZlZG1sYQ'}},
 'zip_code': '',
 'city': {'name': 'San CristÃ³bal', 'id': 'TUxBQlNBTjkwNTZa'},
 'state': {'name': 'Capital Federal', 'id': 'AR-C'}}

### **Data Preprocessing**

##### **Column Organisation**

In [10]:
df_raw.columns

Index(['seller_address', 'warranty', 'sub_status', 'condition',
       'seller_contact', 'deal_ids', 'base_price', 'shipping',
       'non_mercado_pago_payment_methods', 'seller_id', 'variations',
       'location', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'geolocation', 'sold_quantity', 'available_quantity'],
      dtype='object')

In [11]:
deleted_columns = [
    "attributes",
    "base_price",
    "catalog_product_id",
    "category_id",
    "coverage_areas",
    "currency_id",
    "date_created",
    "deal_ids",
    "descriptions",
    "differential_pricing",
    "geolocation",
    "id",
    "international_delivery_mode",
    "last_updated",
    "listing_source",
    "location",
    "non_mercado_pago_payment_methods",
    "official_store_id",
    "original_price",
    "parent_item_id",
    "permalink",
    "pictures",
    "secure_thumbnail",
    "seller_address",
    "seller_contact",
    "seller_id",
    "site_id",
    "sold_quantity",
    "start_time",
    "stop_time",
    "sub_status",
    "subtitle",
    "tags",
    "thumbnail",
    "variations",
    "video_id",
    "warranty"
    ]

df_raw = df_raw.drop(deleted_columns, axis=1)

In [12]:
df_raw.shape

(100000, 11)

In [13]:
df_raw.head()

,condition,shipping,listing_type_id,price,buying_mode,accepts_mercadopago,title,automatic_relist,status,initial_quantity,available_quantity
0,new,"{'local_pick_up': True, 'methods': [], 'tags':...",bronze,80.0,buy_it_now,True,Auriculares Samsung Originales Manos Libres Ca...,False,active,1,1
1,used,"{'local_pick_up': True, 'methods': [], 'tags':...",silver,2650.0,buy_it_now,True,Cuchillo Daga Acero CarbÃ³n Casco Yelmo Solinge...,False,active,1,1
2,used,"{'local_pick_up': True, 'methods': [], 'tags':...",bronze,60.0,buy_it_now,True,"Antigua Revista Billiken, NÂ° 1826, AÃ±o 1954",False,active,1,1
3,new,"{'local_pick_up': True, 'methods': [], 'tags':...",silver,580.0,buy_it_now,True,Alarma Guardtex Gx412 Seguridad Para El Automo...,False,active,1,1
4,used,"{'local_pick_up': True, 'methods': [], 'tags':...",bronze,30.0,buy_it_now,True,Serenata - Jennifer Blake,False,active,1,1

In [14]:
df_raw.columns

Index(['condition', 'shipping', 'listing_type_id', 'price', 'buying_mode',
       'accepts_mercadopago', 'title', 'automatic_relist', 'status',
       'initial_quantity', 'available_quantity'],
      dtype='object')

##### **Normalising `shipping` column**

In [15]:
df_raw.loc[59, 'shipping']

{'local_pick_up': False,
 'methods': [],
 'tags': [],
 'free_shipping': False,
 'mode': 'not_specified',
 'dimensions': None}

In [16]:
normalised_shipping = pd.json_normalize(df_raw['shipping'])

In [17]:
filtered_shipping = normalised_shipping[['local_pick_up', 'free_shipping', 'mode']]

In [18]:
df = pd.concat([df_raw.drop('shipping', axis=1), filtered_shipping], axis=1)

In [19]:
df.head()

,condition,listing_type_id,price,buying_mode,accepts_mercadopago,title,automatic_relist,status,initial_quantity,available_quantity,local_pick_up,free_shipping,mode
0,new,bronze,80.0,buy_it_now,True,Auriculares Samsung Originales Manos Libres Ca...,False,active,1,1,True,False,not_specified
1,used,silver,2650.0,buy_it_now,True,Cuchillo Daga Acero CarbÃ³n Casco Yelmo Solinge...,False,active,1,1,True,False,me2
2,used,bronze,60.0,buy_it_now,True,"Antigua Revista Billiken, NÂ° 1826, AÃ±o 1954",False,active,1,1,True,False,me2
3,new,silver,580.0,buy_it_now,True,Alarma Guardtex Gx412 Seguridad Para El Automo...,False,active,1,1,True,False,me2
4,used,bronze,30.0,buy_it_now,True,Serenata - Jennifer Blake,False,active,1,1,True,False,not_specified

##### **`free_shipping` column**

In [20]:
df['free_shipping'].value_counts()

free_shipping
False    96984
True      3016
Name: count, dtype: int64

In [21]:
df['free_shipping'].isna().sum()

np.int64(0)

##### **`local_pick_up` column**

In [22]:
df['local_pick_up'].value_counts()

local_pick_up
True     79561
False    20439
Name: count, dtype: int64

In [23]:
df['local_pick_up'].isna().sum()

np.int64(0)

##### **Duplicates, `title` and `status`**

In [24]:
df.shape

(100000, 13)

In [25]:
df = df.drop_duplicates()

In [26]:
df.shape

(99373, 13)

In [27]:
df = df.drop(columns=['title'])

In [28]:
df['status'].value_counts()

status
active            95076
paused             4276
closed               20
not_yet_active        1
Name: count, dtype: int64

In [29]:
df = df.query("status != 'not_yet_active'").copy()

df["status"].value_counts()

status
active    95076
paused     4276
closed       20
Name: count, dtype: int64

##### **`mode` column**

In [30]:
df['mode'].value_counts()

mode
me2              51155
not_specified    44656
custom            3468
me1                 93
Name: count, dtype: int64

In [31]:
df['mode'].isna().sum()

np.int64(0)

##### **Null Entries**

In [32]:
df.isnull().sum()

condition              0
listing_type_id        0
price                  0
buying_mode            0
accepts_mercadopago    0
automatic_relist       0
status                 0
initial_quantity       0
available_quantity     0
local_pick_up          0
free_shipping          0
mode                   0
dtype: int64

### **Clean Data Exportation**

In [33]:
df.to_csv("data/MLA_100k_clean.csv", index=False)